.class.second-class {
  font-size: 12px;
  color: blue;
}

/* rule 2 */
.class > .second-class {
  font-size: 54px;
  color: coral;
}


/* rule 1 */
* {
  color: black;
}

/* rule 2 */
h1 {
  color: orange;
}

